#[link(name="cql_client", 
    vers="0.0.1")];

#[crate_type="lib"];
#[warn(non_camel_case_types)];

extern mod std;

pub mod cql_client;

pub use cql_client::{CQL_VERSION, connect};
pub use cql_client::{ConsistencyAny, ConsistencyOne, 
    ConsistencyTwo, ConsistencyThree, ConsistencyQuorum, 
    ConsistencyAll, ConsistencyLocalQuorum, ConsistencyEachQuorum, ConsistencyUnknown};

pub use cql_client::CqlColumn;
pub use cql_client::{CqlString, Cqli32, Cqli64, CqlBlob, CqlBool, 
    CqlCounter, Cqlf32, Cqlf64, CqlTimestamp, CqlBigint};

pub use cql_client::CqlResponseBody;
pub use cql_client::{ResponseError,
    ResultVoid, ResultRows, ResultKeyspace, ResultPrepared, 
    ResultSchemaChange, ResponseEmpty};

pub use cql_client::{CqlRow, CqlRows};

//pub use cql_client::{ColumnCustom, ColumnASCII, ColumnBIGINT, ColumnBlob, ColumnBoolean, ColumnCounter, ColumnDecimal, ColumnDOUBLE, ColumnFLOAT, ColumnINT, ColumnTEXT, ColumnTimestamp, ColumnUUID, ColumnVARCHAR, ColumnVarint, ColumnTimeUUID, ColumnInet, ColumnList, ColumnMap, ColumnSet, ColumnUnknown};

//pub use cql_client::Opcode;
//pub use cql_client::{OpcodeError OpcodeStartup, OpcodeReady, OpcodeAuthenticate, OpcodeCredentials, OpcodeOptions, OpcodeSupported, OpcodeQuery, OpcodeResult, OpcodePrepare, OpcodeExecute, OpcodeRegister, OpcodeEvent, OpcodeUnknown};
